@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

@font-face {
  font-family: "Kamerik";
  src: url("../assets/fonts/Kamerik.ttf");
}

@font-face {
  font-family: "Kamerik-Bold";
  src: url("../assets/fonts/Kamerik-Bold.ttf");
}

body::before {
  background-attachment: scroll;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: fixed;
  transform: scale(2.5);
  top: 0;
  width: 100vw;
  z-index: -1;
  background-image: url("../assets/images/bg.svg");
  background-size: 100% 100%, auto;
  background-position: center, 0% 0%;
  background-repeat: no-repeat, repeat;
}
